body{
    width:100%;
    height:100%;
    margin:0;
}

a{
    text-decoration:none;
    background-color:transparent;
    color:whitesmoke;
}

.header{
    background-color:black;
    color:white;
    border-color:black;
    min-height:50px;
    border:1px solid transparent;   
}

.inner-header{
    width:80%;
    margin:auto;
}

.logo a{
    float: left;
    color: #fff;
    height: 50px;
    padding:15px;
    font-size:20px;
    font-weight: bold;
}

.logo a:hover{
    color: beige;
    text-decoration: none;
}

.header-link a{
    color: #fff;
    float:right;
    font-size:12px;
    height:50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
}

.header-link:hover a{
    text-decoration: none;
    color: beige;
}

.content{
    min-height: 600px;
}

.banner-image{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align:center;
    color: white;
    background: url("1.jpg") no-repeat center;
    background-size: cover;
}

.inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto;
}

.banner_content{
    position:relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 680px;
    margin-left: 200px;
}

.button{
    color:#fff;
    background-color: #c9302c;
    border-color: rgb(172, 41, 37);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    padding:10px 16px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    transform: translateY(10%);
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    display: flex;
}

.items{
    width: 30%;
    height: 300px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-left: 10px;
}

.thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
}

.caption{
    color: black;
    padding: 0px 10px 10px;
    font-weight: normal;
    text-align: center;
    font-size: medium;
    text-decoration: none;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 14px;
}

@media (max-width:400px){
    .logo{
        font-size: 12px;
    }

    .header-link a{
        font-size: 12px;
    }

    .banner_content{
        margin: 4px;
        width: auto;
    }

    .container{
        width: 80%;
        margin: auto;
        padding: 50px;
        overflow: hidden;
        justify-content: center;
        display: block;
    }

    .items{
        width: 100%;
        height: 300px;
        display: block;
        margin: 2px;
    }
}
